#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding:20px;
}

input{
  margin-bottom:20px;
}

#username{
  width:400px;
}
textarea{
  height:200px;
  width:400px;
}