body{
  background-color: #F5F5F5;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}


/* Nav Bar */

.right-title{
  display: flex;
  align-items: center;
  color:black;
}

/* .nav-title{
  margin-left:15px;
} */

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow:0px 2px 8px #f6f6f6;
}
.left-title,
.right-title {
  display: flex;
  align-items: center;
}

.left-title{
   display: flex;
   gap: 20px;
}
.center-links {
  display: flex;
  align-items: center;
  gap: 60px; /* Adjust the gap between the center links */
}

.logo{
  width:55px;
  margin:10px 0 0 20px;
  padding: 0;
}
.nav-links h1{
  font-size: 25px;
}
.nav-links a{
  color:#2b458f;
  text-decoration: none;
}

.searchNStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navSearchInput{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSearchInput input{
  height: 30px;
}




/* Main Page */

.main-page{
  display: grid;
  grid-template-columns: 25% 60%;
  margin: 30px 0px;
}

  /* Vertical Nav */

.nav-links-vertical{
  height: 500px;
  background-color: white;
  width: 250px;
  border-radius: 15px;
  margin-left: 40px;
  margin-top: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.nav-links-vertical p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link-vertical{
  margin-bottom:50px;
  font-size:1.1rem;
  display: flex;
  align-items: center;
}

.nav-logo-vert{
  width:40px;
  margin-right:26px;
}

.vert-link{
  text-decoration: none;
  color:black;
}

  /* Feed */
.main-page{
  margin-bottom: 100px;
}
.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:81%;
  margin: 0 0 0 13%;
}

.post-form{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding:20px 0;
  border-radius: 15px;
  box-shadow:2px 2px 10px #d9d9d9;
  width: 480px;
  height: 120px;
}
.post-username-section {
  position: relative;
  top: 15px
}
.post-username-section textarea{
  border: none;
  background-color: rgb(238, 238, 238);
  width: 340px;
  position: relative;
  border-radius: 15px;
  padding: 6px;
  height: 23px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  line-height: 22px;
}

header{
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: rgb(164, 164, 164);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.form-bottom-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  gap: 200px;
}
.form-bottom-buttons .submit-button-form{
  background: none;
  border: #2b458f 2px solid;
  height: 28px;
  border-radius: 10px;
  color: #1b2d60;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(37, 37, 37, 0.3);
}
.formUserIcon{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  bottom: 14px;
}

/* Posts */

.post{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow:2px 2px 10px #d9d9d9;
  width:485px;
  height: auto;
  position: relative;
  padding-top: 50px;
}
.post .product-image{
  height: 320px;
  width: 440px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.top-post{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  position: relative;
  bottom: 40px;
}
.top-post .delete-button{
  position: relative;
  top: 15px;
}

.post-username-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.descriptionNImage{
  position: relative;
  bottom: 20px;
}
.postDescription p{
  width: 350px;
  padding: 0px 13px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post-user-icon{
  height:40px;
  width: 40px;
  margin-right:20px;
}

.post-username{
  margin:0;
}

.post p{
  margin:20px 0;
  text-align: left;
}

.product-image{
  width: 100%;
  height: 700px;
}

.reaction-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-right: 320px;
  position: relative;
  bottom: 20px;
}

.like-button{
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  color:white;
  
}

.likes{
  margin-right:20px;
  font-weight:700;
  display: inline-block;
}

.comment-button{
  display: inline-block;
  cursor: pointer;
  width:24px;
  /* background-color: black;
  color:white; */
}

.write-comment-section{
  display: flex;
  width:88%;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 26px;
}
.write-comment-section input{
  width: 300px;
  background-color: rgb(239, 239, 239);
  border: none;
  height: 35px;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.comment-bar{
  height:30px;
  margin:20px 0 20px 0;
  padding: 0;
  border-radius:3%;
}

.comment-submit{
  background: none;
  border: none;
}

.comment-list-section{
  display: none;
  margin-top: 20px;
  background-color: white;
  border-radius: 5%;
  width:85%;
  overflow: hidden;
  overflow-y: auto;
}

.comment-list{
  width:98%;
  display:flex;
  flex-direction: column;
  height: auto;

}

.comment-with-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:96%;
  margin:0 0 0 36px;
}

.comment-list-line{
  border:1px solid black;
  border-style: none solid none none;
  width:6px;
  height:100%;
}

.comment{
  background-color: #F5F5F5;
  margin: 40px 0 40px 30px;
  text-align: left;
  height: 30px;
  width:90%;
}

.delete-button{
  /* position: absolute;
  top:25px;
  right:28px; */
  border: none;
  background-color: white;
  color:black;
  font-size:1.3rem;
  cursor: pointer;
  text-align: right;
  width:95%;
}

/* login section */

.loginContainer h1  a{
  text-decoration: none;
  color: black;
}

.loginContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  margin: 150px auto;
  padding-bottom:40px;
  border-radius: 20px;
  
}
.loginContainer .headingsignup{
  font-size: 50px;
}
.loginContainer .or{
  display: block;
  align-items: center;
  font-size: 20px;
  color: gray;
  margin: 20px;
}
.loginContainer a{
  text-decoration: none;
  color: black;
}
.loginContainer h1{
  font-size: 50px;
}

.loginContainer span{
  display: inline-block;
    width: 100px;
    border-top: 1px solid rgb(183, 183, 183);
    margin: 0 5px;
}
.loginContainer .google{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid lightgray;
  font-size: 20px;
  cursor: pointer;
}
.loginContainer .google img{
  position: relative;
  right: 70px
}
.loginContainer .upfb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #1877f2;
  color: white;
  font-size: 20px; 
  border: none;
}
.loginContainer .upfb img{
  position: relative;
  right: 70px
}
.loginContainer .semail{
  width: 400px;
  height: 60px;
  background: none;
  border: 1px solid lightgray;
  font-size: 20px;
}
.loginContainer h3{
  margin-bottom: 70px;
  font-size: 25px;
}

/* Sign Up Page */

.signUp{
  padding:0 40px 20px;
}

.signUpInput{
  height:40px;
  margin-top:10px;
}

.signUpSubmit{
  height:40px;
  width:30%;
  background-color: black;
  color:white;
  margin-top:15px;
}

.loginContainer .upload{
  width:30%;
  height:50px;
  margin-top:30px;
}

/* Log In Page */

.logIn{
  padding:0 40px 20px;
}

.logInInput{
  height:40px;
  margin-top:10px;
}

.logInSubmit{
  height:40px;
  width:30%;
  background-color: black;
  color:white;
  margin-top:30px;
}

/* Log Out Page */

.logOut{
  padding:0 40px 20px;
}

.logOutInput{
  height:40px;
  margin-top:10px;
}

.logOutSubmit{
  height:40px;
  width:30%;
  background-color: black;
  color:white;
  margin-top:30px;
}
/* product section */

.heroImage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroImage img{
 width: 100%;
 height: 500px;
}
.heroImage input{
  align-items: center;
  width: 500px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 40px;
  border-radius: 10px;
  padding-left: 40px;
  font-size: 15px;
  border: none;
}


.heroContent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  bottom: 350px;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.heroContent .heroSearch{
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 40px;
  right: 250px;
}
.heroInput{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroHeadings{
  width: 390px;
}
.heroHeadings p{
  font-size: 18px;
}
.borderBlack{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18264b;
  width: 100%;
  height: 40px;
  margin-top: -240px;
}
.formProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 360px;
  flex-wrap: wrap;
  margin-top: 50px;
  
}
.formProduct form{
 width: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 200px;
 box-shadow: 1px 1px 5px #a3a3a3;
 border-radius: 10px;
 padding: 20px;
 flex-wrap: wrap;
}
.formProduct form input{
  border-radius: 5px;
  width: 300px;
  margin-bottom: 30px;
}
.uploadNButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
  flex-direction: row;
}
.uploadNButton button{
  height: 30px;
  width: 50px;
  background-color: #2b458f;
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.formProduct .descriptionInput{
  height: 38px;
  padding-left: 10px;
  font-size: 15px;
}
.sellNow{
  color: rgb(225, 223, 223);
  background: none;
  border: 1px solid rgb(235, 233, 233);
  height: 25px;
  box-shadow: 2px 2px 5px rgba(255, 254, 254, 0.3);
}
.mainPostContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  margin: 100px 0px;
  text-align: center;
}
.mainPostContainer .product img{
  width: 250px;
  height: 320px;
  box-shadow: 2px 2px 5px rgba(173, 173, 173, 0.3);
}
.userNDelete{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.userNDelete button{
  background: none;
  border: none;
  color: rgb(164, 164, 164);
  position: relative;
  left: 20px;
}
.mainPostContainer .addtocart{
  background-color: #18264b;
  color: white;
  height: 32px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
 .product h2 {
  color: #080d1a;
}
.product p{
  color: #050811;
  font-weight: bold;
}

/* footer section */

.footerMain {
  background-color: #18264b;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 300px;
}


.footerMain a{
  text-decoration: none;
  color: white;
}

/* cart section */

.mainCart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.bagNSummary{
  display: flex;
  justify-content: center;
}
.cartCard img{
  width: 200px;
  height: 100px;
  background-position: center;
}
.cartC{
  display: flex;
  justify-content: center;
  align-items: center;
}