body{
  background-color: #F5F5F5;
  padding: 0 0 30px 0;
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Nav Bar */

.right-title{
  display: flex;
  align-items: center;
  color:black;
}

.nav-title{
  margin-left:15px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  background-color: white;
  box-shadow:0px 2px 8px #d9d9d9;
}

.nav-icon{
  width:35px;
}

.logo{
  width:55px;
  margin:10px 0 0 20px;
  padding: 0;
}

.search{
  margin:0 200px;
}

.cart{
  margin-right: 30px;
}

.login{
  margin-right: 25px;
}

/* Main Page */

.main-page{
  display: grid;
  grid-template-columns: 25% 75%;
}

  /* Vertical Nav */

.nav-links-vertical{
  margin:0 0 0 28px;
  padding:47px 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  height:50vh;
  width: 75%;
  opacity:0.7;
}

.nav-link-vertical{
  margin-bottom:50px;
  font-size:1.1rem;
  display: flex;
  align-items: center;
}

.nav-logo-vert{
  width:40px;
  margin-right:26px;
}

.vert-link{
  text-decoration: none;
  color:black;
  font-weight: 500;
}

  /* Feed */

.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:81%;
  margin: 0 0 0 13%;
}

form{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding:20px 0;
  border-radius: 3%;
  box-shadow:2px 2px 10px #d9d9d9;
  width:85%;
}

input{
  width:93%;
  margin-bottom:20px;
  border-radius:4%;
  border:none;
  background-color: #F5F5F5;
}

#username{
  height:35px;
  padding: 20px 20px;
  font-size:1.1rem;
  box-sizing:border-box;
}

textarea{
  padding: 20px 20px;
  font-size:1.1rem;
  box-sizing:border-box;
  width:93%;
  height:140px;
  margin-bottom:20px;
  border-style: fixed;
  border-radius:2%;
  border:none;
  background-color: #F5F5F5;
}

.form-bottom-buttons{
  display: grid;
  grid-template-columns: 50% 50%;
  gap:20px;
  width:93%;
}

.upload{
  background-color: #F5F5F5;
  border-radius: 5%;
  height:62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button-form{
  padding:20px 30px;
  font-size:1.1rem;
  font-weight: 800;
  color:#F5F5F5;
  background-color: black;
}
header{
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: rgb(201, 200, 200);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Posts */

.post{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding:185px 0 100px;
  border-radius: 3%;
  box-shadow:2px 2px 10px #d9d9d9;
  position: relative;
  width:85%;
}

.top-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left:23px;
  top:47px;
}

.post-username-section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-user-icon{
  height:40px;
  width: 40px;
  margin-right:20px;
}

.post-username{
  margin:0;
}

p{
  margin:20px 0;
}

.product-image{
  width: 100%;
  height: 700px;
}

.reaction-bar{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left:21px;
  top:930px;
}

.like-button{
  margin-right:9px;
  cursor: pointer;
  background-color: black;
  color:white;
}

.likes{
  margin-right:20px;
  font-weight:700;
}

.comment-button{
  cursor: pointer;
  background-color: black;
  color:white;
}

.comment-bar{
  width:92%;
  height:30px;
  border:1px solid black;
  margin:71px 0 0 -27px;
  padding: 0;
}

.comment-submit{
  position:absolute;
  height:32px;
  right: 28px;
  top: 980px;
  padding: 0 30px;
  cursor: pointer;
  background-color: black;
  color:white
}

.comment-list{
  display:none;
  margin-top: 90px;
  width:500px;
}

.comment{
  background-color: #F5F5F5;
  margin: 10px 0;
  text-align: left;
}

.delete-button{
  position: absolute;
  top:25px;
  right:28px;
  border: none;
  background-color: white;
  color:black;
  font-size:1.3rem;
  cursor: pointer;
}

/* login section */

.loginContainer h1  a{
  text-decoration: none;
  color: black;
}

.loginContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  margin: 150px auto;
  padding-bottom:40px;
  border-radius: 20px;
  
}
.loginContainer .headingsignup{
  font-size: 50px;
}
.loginContainer .or{
  display: block;
  align-items: center;
  font-size: 20px;
  color: gray;
  margin: 20px;
}
.loginContainer a{
  text-decoration: none;
  color: black;
}
.loginContainer h1{
  font-size: 50px;
}

.loginContainer span{
  display: inline-block;
    width: 100px;
    border-top: 1px solid rgb(183, 183, 183);
    margin: 0 5px;
}
.loginContainer .google{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid lightgray;
  font-size: 20px;
  cursor: pointer;
}
.loginContainer .google img{
  position: relative;
  right: 70px
}
.loginContainer .upfb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #1877f2;
  color: white;
  font-size: 20px; 
  border: none;
}
.loginContainer .upfb img{
  position: relative;
  right: 70px
}
.loginContainer .semail{
  width: 400px;
  height: 60px;
  background: none;
  border: 1px solid lightgray;
  font-size: 20px;
}
.loginContainer h3{
  margin-bottom: 70px;
  font-size: 25px;
}

/* Sign Up Page */

.signUp{
  padding:0 40px 20px;
}

.signUpInput{
  height:40px;
  margin-top:10px;
}

.signUpSubmit{
  height:40px;
  width:30%;
  background-color: black;
  color:white;
  margin-top:15px;
}

.loginContainer .upload{
  width:30%;
  height:50px;
  margin-top:30px;
}

/* Log In Page */

.logIn{
  padding:0 40px 20px;
}

.logInInput{
  height:40px;
  margin-top:10px;
}

.logInSubmit{
  height:40px;
  width:30%;
  background-color: black;
  color:white;
  margin-top:30px;
}

/* Log Out Page */

.logOut{
  padding:0 40px 20px;
}

.logOutInput{
  height:40px;
  margin-top:10px;
}

.logOutSubmit{
  height:40px;
  width:30%;
  background-color: black;
  color:white;
  margin-top:30px;
}
